.screen-only {
  display: inline;
}

.print-only {
  display: none;
}


@media print {

  /* Bu sütunları gizlət */
  /* th:nth-child(1), */
  th:nth-child(4),
  th:nth-child(10),
  /* td:nth-child(1), */
  td:nth-child(4),
  td:nth-child(10) {
    display: none;
  }

 td{
  padding: 0 !important;
  height: 0 !important;
 }


  /* Artikil scrollunu deaktiv et */
  .table_article_scroll {
    white-space: normal !important;
    overflow: visible !important;
    max-width: none !important;
  }

  /* Çap zamanı yalnız əsas table və xülasə hissəsi görünsün */
  .warehouse_submit,
  .dashboard_end_pagination {
    display: none !important;
  }

  body * {
    visibility: hidden;
  }

  .admin_container,
  .admin_container * {
    visibility: visible;
  }

  .admin_container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .warehouse_summary div:last-child {
    display: none !important;
  }

  th:nth-child(11),
  td:nth-child(11) {
    display: none !important;
  }

  .screen-only {
    display: none !important;
  }

  .print-only {
    display: table-cell !important;
     text-align: center !important;
  }
  .print-only-arc{
    display: inline !important;
  }

  .admin_header_search {
    display: none !important;
  }
}


.table_article_scroll {
  max-width: 100px;
  overflow-x: auto;
  /* x oxuna scroll */
  overflow-y: hidden;
  /* y oxuna scroll olmasın */
  /* display: block;       scroll-un işləməsi üçün vacibdir */
  white-space: nowrap;
  /* mətnin aşağı keçməsinin qarşısını alır */
}

.table_scroll_wrapper {
  width: 100%;
  overflow-x: auto !important;
}