:root {
  --white: #fff;
  --black: #000;
  --mainFirst: #32312F;
  --yellow: #FFC900;
  --gray: #f8f9fa;
  --gray2: #D1D1D6;
  --gray3:  #2C2C2E;
  --gray4:  #636366;
  --gray5: #030303;
  --gray6: #00000080;
  --gray7: #333333;
  --gray8: #333333CC;
  --gray9: #B5B5B5;
  --gray10: #737791;
  --gray11: #202020;
  --gray12: #E8EAED;
  --red: #ff7474;
  --red2: #FC2D68;

  

 
}
