.admin_content{
    margin-left: 272px;
}
.admin_content main{
    padding-top: 24px;
}

@media screen and (max-width: 1540px){
   .admin_content{
    margin-left: 200px;
}
.admin_body_container li a{
    font-size: 1.4rem !important;
}
}


