.sales_chart_container {
    height: 430px;
    background-color: var(--white);
    border-radius: 12px;
    padding-bottom: 70px;
}

.chart_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.chart_header h3 {
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 140%;
    letter-spacing: 0%;
    color: var(--gray11);

}

.chart_controls {
    display: flex;
    align-items: center;
    gap: 20px;
}

.legend {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.yellow {
    background-color: var(--yellow);
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0.5px;

}

.black {
    background-color: var(--mainFirst);
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0.5px;

}

.dropdown {
    display: flex;
    align-items: center;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 14px;
    background-color: var(--gray);

}

.dropdown select {
    outline: none;
    border: none;
    background: none;

}

.calendar_icon {
    margin-right: 6px;
}